body{
    background-color: #e9ebee;
    background: #f0f2f5;
    padding: 0px 0;
}

h1{
    /* padding: -50px auto; */
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: rgb(32, 146, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    
    background-color: #fff;
    border-radius: 8px;    
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: -35px auto;
    padding: 30px 0 14px 0;
    width: 400px;
    /* height: 400px; */
    text-align: center;
    border: 1px solid #dddfe2;
    /* border-radius: 3px; */
    
}

.login{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    font-weight: 300px;
    color: #fff;
}


.signUp{
    width: 250px;
    padding: 6px 0;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 300px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    line-height: 42px;
    padding: 0 24px;
    background-color: #42b72a;
    border-color: #42b72a;
    color: #fff;
}
input{
    background: #FFFFFF url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 16px;
    padding: 0 8px;
    width: 332px;
    vertical-align: middle;
    padding-bottom: 4px;
    /* -webkit-appearance: none; */
    border: 1px solid #ccd0d5;
    border-radius: 0;
    margin: 0;
    padding: 10px;
}